.list-drink-container {
    .title{
        margin-bottom: 10px;
        width: 400px;
        margin: auto;
    }
    .list-drink-content{
        .child {
            width: 300px;
            height: 40px;
            margin: 0 auto;
        }
    }
}

